* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

p {
	max-width: 70%;
	text-align: justify;
}

a {
	text-decoration: none;
	color: inherit;
}
