.main {
	background-image: url(https://mohameds16.github.io/jfc-consultant/images/pexels-photo-8693379.webp);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.main__landing {
	height: 100vh;
	background: rgb(255 255 255 / 10%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__landing__text {
	display: flex;
	width: 70%;
}

.main__landing__blank {
	width: 60%;
}

.main__landing__info {
	width: 40%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.main__landing__info h1 {
	font-family: "Kanit", sans-serif;
	font-size: 60px;
	color: black;
}

.main__landing__info h1 span {
	color: #b79632;
}

.main__landing__info h3 {
	font-family: "Urbanist", sans-serif;
	font-weight: 100;
	font-size: 22px;
	color: black;
	text-align: center;
	padding-bottom: 35px;
}

.main__landing__info a {
	color: white;
	padding: 15px 50px;
	border-radius: 25px;
	background: black;
	background-color: #b79632;
	font-size: 20px;
	font-weight: 300;
	font-family: "Urbanist", sans-serif;
	letter-spacing: 1.5px;
	text-shadow: 1px 1px 1px black;
	box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.main__business {
	width: 100%;
	background-color: #181818;
	padding: 100px 0px 60px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__business__container {
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: auto;
	padding-bottom: 50px;
	flex-wrap: wrap;
}

.main__business__practice {
	font-family: "Kanit", sans-serif;
	width: 480px;
	padding: 30px 30px;
	margin-bottom: 50px;
}

.main__business__practice h2 {
	color: #b79632;
	font-size: 50px;
	font-family: "Kanit", sans-serif;
	font-weight: 400;
}

.main__business__practice p {
	color: white;
	margin-top: 30px;
	font-size: 18px;
}

.main__business__areas {
	width: 400px;
	padding-top: 30px;
}

.main__business__area {
	display: flex;
	justify-content: center;
	padding-bottom: 25px;
}

.main__business__area__img img {
	width: 60px;
	height: 60px;
}

.main__business__area__info {
	width: 100%;
}

.main__business__area__info h1 {
	margin: 0%;
	padding: 0%;
	font-size: 22px;
	font-weight: 500;
	font-family: "Urbanist", sans-serif;
	margin-left: 20px;
	color: #b79632;
	padding-bottom: 5px;
}

.main__business__area__info p {
	margin: 0%;
	padding: 0%;
	font-size: 16px;
	font-weight: 400;
	font-family: "Urbanist", sans-serif;
	margin-left: 20px;
	color: white;
}

.main__business__more {
	width: 100%;
	display: flex;
	justify-content: center;
}

.main__business__more img {
	width: 13px;
	height: 13px;
	margin-left: 10px;
}

.main__business__link {
	color: #b79632;
	font-size: 18px;
	padding-top: 20px;
}

.main__business__link:hover {
	color: white;
}

.experience {
	height: 100dvh;
	background-color: #1b1b1b;
	display: flex;
	justify-content: center;
}

.experience--div {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 70px 0;
}

.experience--text {
	width: 500px;
	display: flex;
	justify-content: center;
	text-align: left;
	padding-left: 30px;
	margin-right: 20px;
}

.experience--div__header {
	color: white;
	font-family: "Urbanist", sans-serif;
	line-height: 60px;
}

.experience--div__span {
	color: #b79632;
	font-family: "Urbanist", sans-serif;
	font-weight: 800;
	font-size: 70px;
}

.experience--img {
	width: 450px;
	height: 300px;
	border-radius: 30px;
}

.main__companies {
	padding: 0px 20px;
	background-color: #181818;
	overflow: hidden;
}

.main__companies__header {
	color: #b79632;
	text-align: center;
	font-size: 55px;
	font-family: "Kanit", sans-serif;
	font-weight: 600;
}

.main__companies__cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.main__companies__card {
	padding: 10px;
	width: 280px;
}

.main__companies__card img {
	height: 100px;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.main__companies__card h2 {
	font-family: "Urbanist", sans-serif;
	text-align: center;
	padding-bottom: 50px;
	font-size: 22px;
	color: #b79632;
}

@media screen and (max-width: 970px) {
	.main__landing__info {
		width: 70%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 585px) {
	.main__landing {
		background: rgb(255 255 255 / 50%);
	}
	.main__landing__text {
		width: 100%;
	}

	.main__landing__info {
		width: 100%;
		padding: 0 20px;
	}

	.main__landing__blank {
		width: 0%;
	}

	.experience--img {
		width: 90%;
		height: 300px;
		border-radius: 30px;
	}
}
